html{
	font-size: 15px;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: #2c3f55;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

.white{
	color: #fff;
}


*{
	-moz-transition: all 0.3s ease;
	-webkit-transition-property: all;
	-webkit-transition-property: 0.3s;
	-webkit-transition-timing-function: ease;
}

a, a:hover, a:active, a:focus, 
button, input,
button:hover, button:active, button:focus,
input:active, input:focus{
	text-decoration: none;
	outline: none;
}



.upper{
	text-transform: uppercase;
}

.bolder{
	font-weight: 800;
	
}

/*Спецификация*/

.header{
	background: #2c3f55;
	padding: 15px 0 31px 0;
}

.logo{
	margin-top: 20px;
}

.menu{
  margin: 0;
  padding: 0;
  margin: 31px 0px 0px 0px;
}

.menu__item{
	float: left;
}

.menu__item a{
	color: #c3d6eb;
	text-transform: uppercase;
	font-weight: 800;
	border-radius: 60px;
	padding: 8px 17px;
	font-size: 0.8rem;
	
}

.menu__item a:hover{
	background: #24354a;
	color: #fff;
	text-decoration: none  
}

.contacts__phone{
	font-size: 1.667rem;
	color: #fff;
	margin-bottom: 10px;
	
}

.contacts__btn{
	font-size: 0.8rem;
	border: 1px solid #fff;
	padding: 10px 25px;
	color: #fff;
	border-radius: 60px;
}

.contacts__btn:hover{
	background: #fff;
	color: #2c3f55;
}

.contacts__btn:active{
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3) inset;
}

/*1st screen*/

.services{

}


.services__item{
	width: 45%;
	
	padding-left: 100px;
	margin-bottom: 61px;
}

.services__item_fix{
	background: url(../img/fix.png) no-repeat left center;
}

.services__item_frame{
	background: url(../img/car.png) no-repeat left center;
}

.services__item_electric{
	background: url(../img/electric.png) no-repeat left center;
}

.services__item_wash{
	background: url(../img/wash.png) no-repeat left center;
}

.services__title{
	text-transform: uppercase;
	font-size: 1.276rem;
	color: #000;
	font-weight: 800;
}


.services__text{
	font-size: 0.933rem;
}

.first__header{
	font-size: 3.333rem;
	text-transform: uppercase;
	color: #1a283a;
	font-weight: 800;
	margin: 80px 0px 80px 0px;
	line-height: 1.2em;
}

.form{
	border-radius: 3px;
	box-shadow: 0px 10px 36px rgba(0 0 0 0.12);
}

.form__title{
	font-size: 1.067rem;
	background: #2c3f55;
	padding: 14px 15px;
}