@media (max-width: 1199.98px)
{
	.tabs__item{
		font-size: 0.9rem;
		margin-bottom: 40px;
	}
} 



@media (max-width: 991.98px) {
	.tabs__item{
		font-size: 0.8rem;
		margin-bottom: 40px;
	}

	.menu{
		z-index: 0;
	}

	.logo{
		z-index: 1;
	}

	.contacts__phone{
		z-index: 1;
	}
}

@media (max-width: 767.98px) { 
	.tabs__item{
		display: block;
		margin-bottom: 30px;
		margin-right: 0;
		font-size: 1rem;
	}

	.gallery, .order-block{
		width: 100%;
	}

	.gallery{
		margin-top: 40px;
	}
	
	.photos img{
		margin: 60px 15% 10px 15%;
	}
}
