@media (max-width: 1199.98px)
{
	.tabs__item{
		font-size: 0.9rem;
		margin-bottom: 40px;
	}
} 



@media (max-width: 991.98px) {
	.tabs__item{
		font-size: 0.8rem;
		margin-bottom: 40px;
	}

	.menu{
		z-index: 0;
	}

	.logo{
		z-index: 1;
	}

	.contacts__phone{
		z-index: 1;
	}
}

@media (max-width: 767.98px) { 
	.tabs__item{
		display: block;
		margin-bottom: 30px;
		margin-right: 0;
		font-size: 1rem;
	}

	.gallery, .order-block{
		width: 100%;
	}

	.gallery{
		margin-top: 40px;
	}
	
	.photos img{
		margin: 60px auto 10px auto;
	}

	.car__bg{
		display: none;
	}

	.bullet{
		display: none;
	}

}


@media (max-width: 500px) { 
	.contacts{
		display: none;
	}

	.first__header{
		font-size: 2.33rem;
	}

	.services__item{
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
		padding-top: 100px;
		background-position: center top;
	}

	.photos img{
		margin: 60px auto 10px auto;
	}


	.car__bg{
		display: none;
	}

	.bullet{
		display: none;
	}

	.gallery__arrow{
		display: none;
	}

}

@media (max-width: 400px) { 
	.contacts{
		display: none;
	}

	.first__header{
		font-size: 1.78rem;
	}

	.services__item{
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
		padding-top: 100px;
		background-position: center top;
	}

	.car_bg{
		display: none;
	}

	.bullet{
		display: none;
	}

	.gallery__arrow{
		display: none;
	}

}